#conhecimentos {
    .container {
        flex-direction: column;
        justify-content: center;

        .lista {
            display: flex;
            flex-direction: column;
            margin: 0 auto;
            justify-content: center;
            transition: .3s ease-in-out;

            @media only screen and (min-width: 500px) {
                & {
                    max-width: 500px;
                    flex-direction: row;
                    flex-wrap: wrap;
                    justify-content: space-between;
                }
            }

            @media only screen and (min-width: 900px) {
                & {
                    max-width: 760px;
                }

                &::after {
                    content: "";
                    flex: auto;
                    max-width: 200px;
                }
            }

            @media only screen and (min-width: 1200px) {
                & {
                    max-width: 999px;
                    margin: 0;
                }

                &::after {
                    content: none;
                }
            }

            .item {
                width: 200px;
                height: 200px;
                padding: 30px 20px;
                background: $branco;
                border: 0.5px solid $azul3;
                border-radius: 6px;
                margin-bottom: 28px;

                &:nth-child(5) {
                    img {
                        margin-top: 24px;
                    }
                }

                div {
                    width: 160px;
                    height: 140px;
                    display: flex;
                    justify-content: space-between;
                    flex-direction: column;

                    img {
                        max-width: 90px;
                        align-self: center;
                    }

                    h4 {
                        text-align: center;
                        text-transform: uppercase;
                        font-size: 1rem;
                    }
                }
            }
        }
    }
}
