header {
    box-shadow: 0px 4px 10px rgba(9, 13, 24, 0.15);
    padding: 16px 0;
    background: #fff;
    position: fixed;
    width: 100%;
    z-index: 99999;
    top: -3px;

    .container {
        justify-content: space-between;
        align-items: center;

        img {
            max-width: 65px;
        }

        div {
            z-index: 9999;

            #menu-b {
                padding: 10px;

                @media only screen and (min-width: 1040px) {
                    display: none;

                    div {
                        display: none;
                    }
                }

                div {
                    width: 32px;
                    height: 5px;
                    background: $preto;
                    border-radius: 8px;
                    transition: all 0.3s ease-in-out;
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    span {
                        position: absolute;
                        left: -9999px;
                    }

                    &::after,
                    &::before {
                        content: " ";
                        position: absolute;
                        width: 32px;
                        height: 5px;
                        background: $preto;
                        border-radius: 8px;
                        transition: all 0.3s ease-in-out;
                    }

                    &::before {
                        transform: translateY(-10px);
                    }
                    &::after {
                        transform: translateY(10px);
                    }

                    &.ativo {
                        transform: translateX(-50px);
                        background: transparent;

                        &::before {
                            transform: rotate(45deg) translate(35px, -35px);
                        }
                        &::after {
                            transform: rotate(-45deg) translate(35px, 35px);
                        }
                    }
                }
            }

            nav {
                position: absolute;
                z-index: inherit;
                top: 74px;
                right: 0px;
                height: 100vh;
                padding: 32px 20px;
                background: #fff;
                box-shadow: 0px 8px 10px rgba(9, 13, 24, 0.09);
                visibility: hidden;
                opacity: 0;
                transform: translateX(150px);
                transition: all 0.3s ease-in-out;

                @media only screen and (min-width: 768px) {
                    & {
                        width: 200px;
                    }
                }

                @media only screen and (min-width: 1040px) {
                    & {
                        transform: translateX(0);
                        visibility: visible;
                        opacity: 1;
                        position: initial;
                        height: auto;
                        background: none;
                        padding: 0;
                        width: auto;
                        box-shadow: none;
                        transition: none;
                    }
                }

                #slide {
                    display: flex;
                    flex-direction: column;
                    align-items: center;

                    @media only screen and (min-width: 1040px) {
                        & {
                            width: 550px;
                            flex-direction: row;
                            justify-content: space-between;
                            position: initial;
                        }
                    }

                    li {
                        margin-bottom: 20px;
                        width: 100%;
                        text-align: left;

                        @media only screen and (min-width: 1040px) {
                            & {
                                margin-bottom: 0;
                                text-align: center;
                                width: auto;
                            }
                        }

                        a {
                            display: block;
                            padding: 10px;
                            font-weight: 500;
                            font-size: 1.2rem;
                            text-decoration: none;
                            color: $preto;

                            &.active {
                                color: $azul3;
                            }

                            &:hover,
                            &:active {
                                text-decoration: underline;
                            }
                        }
                    }
                }

                &.ativo {
                    visibility: visible;
                    opacity: 1;
                    transform: translateX(0px);
                    transition: all 0.3s ease-in-out;

                    @media only screen and (min-width: 1040px) {
                        transition: none;
                    }
                }
            }
        }
    }
}
