#projetos {
    .container {
        flex-direction: column;

        .lista-p {
            display: flex;
            flex-direction: column;
            justify-content: center;
            margin: 0 auto;

            li {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-content: center;
                max-width: 360px;
                margin-bottom: 32px;

                &:last-child {
                    margin-bottom: 0px;
                }

                @media only screen and (min-width: 768px) {
                    & {
                        flex-direction: row;
                        align-items: flex-start;
                        justify-content: flex-start;
                        max-width: 680px;
                    }

                    img {

                        max-width: 320px;
                    }
                }

                img {
                    border: 1px solid $azul3;
                    border-radius: 4px;
                    align-self: center;
                    margin-bottom: 20px;


                    @media only screen and (min-width: 768px) {
                        & {
                            margin-bottom: 0;
                            margin-right: 24px;
                            align-self: flex-start;
                        }
                    }

                    @media only screen and (min-width: 1200px) {
                        & {
                            max-width: 320px;
                        }
                    }
                }

                .info-p {
                    @media only screen and (min-width: 768px) {
                        & {
                            max-width: 330px;
                        }
                    }

                    h4 {
                        margin: 12px 0;
                        font-size: 1em;
                    }

                    .tags {
                        margin: 12px 0 24px 0;
                        display: flex;
                        flex-wrap: wrap;

                        p {
                            margin-right: 16px;
                            font-size: 0.9em;
                            font-weight: 500;
                            text-transform: uppercase;
                            color: #32464b;
                            background: $azul4;
                            padding: 2px 4px;
                            border-radius: 4px;

                            a {
                                color: $azul3;
                            }

                            &:last-child {
                                margin-right: 0px;
                            }
                        }
                    }

                    a[href^="https://oliverids"]
                    {
                        display: block;
                        width: 150px;
                        text-align: center;
                        color: $branco;
                        background: $azul3;
                        padding: 6px 12px;
                        border-radius: 4px;
                        transition: 0.3s ease-in-out;

                        i {
                            margin-right: 8px;
                        }

                        &:hover {
                            background: $azul2;
                            transition: 0.3s ease-in-out;
                        }
                    }
                }
            }
        }
    }
}
