#sobre {
    .container {
        flex-direction: column;

        .info {
            display: flex;
            flex-direction: column;

            @media only screen and (min-width: 768px) {
                & {
                    flex-direction: row;
                    justify-content: space-between;

                }
            }

            @media only screen and (min-width: 768px) {
                p {
                    max-width: 480px;
                }
            }

            div p {
                margin-bottom: 16px;
            }
        }
    }
}
