#sobre {
    .container {
        flex-direction: column;

        .info {
            display: flex;
            flex-direction: column;

            @media only screen and (min-width: 1040px) {
                & {
                    flex-direction: row;
                    justify-content: space-between;
                }
            }

            div p {
                margin-bottom: 16px;
                max-width: 480px;

                @media only screen and (min-width: 1040px) {
                    & {
                        max-width: 440px;
                    }

                    &:last-child {
                        margin-bottom: 0;
                    }
                }
            }


        }
    }
}
